html {
    cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

body {
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mosqutoExtraPequeno {
    width: 40px;
    height: 40px;
}

.mosquitoTamanhoPequeno {
    width: 80px;
    height: 80px;
}

.mosquitoTamanhoPadrao {
    width: 120px;
    height: 120px;
}

.mosquitoTamanhoGrande  {
    width: 150px;
    height: 150px;
}

.olhandoDireita {
    transform: scaleX(1);
}

.olhandoEsquerda {
    transform: scaleX(-1);
}

.painelJogo {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px white;
    background-color: white;
    opacity: 0.7;
}

.vidaJogador {
    float: left;
}

.cronometroJogo {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
